@use '../../../styles/variables/theme' as theme;

.page-header {
    background-size:    theme.$page-header-bg-size;
    font-family:        theme.$font-family;
    font-weight:        theme.$heading-font-weight;
    font-size:          theme.$heading-font-size-h2;
    padding:            theme.$header-padding;
    color:              theme.$secondary-color-dark;
}