@use '../../../styles/variables/theme' as theme;

.page-header {
    background-size:    theme.$page-header-bg-size;
    font-family:        theme.$font-family;
    font-weight:        theme.$heading-font-weight;
    font-size:          clamp(1rem, -0.25rem + 3.333vw, 2.75rem);
    padding:            theme.$header-padding;
    color:              theme.$secondary-color-dark;
    display:            flex;
    justify-content:    flex-start;
    align-items:        center;

    .header-logo {
        display: none;
        max-width: 3rem;
    }
}

@media (max-width: 768px){
    .page-header {
        flex-direction: column;
        gap: 0.5rem;
        
        .header-logo {
            display: block;
        }
    }
}