@use "../../styles/variables/theme" as theme;

.expenses-container {
    display:            flex;
    justify-content:    space-evenly;
    align-items:        center;
    width:              100%;
    padding:            theme.$body-padding;
    gap:                1rem;
}