@use "../../../styles/variables/theme" as theme;

.table-container {
  box-shadow: theme.$box-shadow;
  border-radius: theme.$border-radius;
  font-family: theme.$font-family;

  thead {
    tr {
      border-bottom: theme.$border-solid-white;
      background-color: theme.$white-color-light;
      padding: theme.$body-padding;
      font-weight: theme.$font-weight-light;
      font-size: theme.$font-size-small;
      cursor: pointer;

      &:hover {
        color: theme.$white-color-lighter;
      }

      th {
        padding: theme.$body-padding;
        font-size: theme.$font-size-small;
        font-weight: theme.$font-weight-semibold;
        background-color: theme.$white-color-lighter;
        color: theme.$primary-color;
        text-align: start;
      }
    }
  }

  tbody {
    tr {
      border: 1px solid theme.$secondary-color-light;

      &:hover {
        background-color: transparent;
        filter: brightness(80%);
      }
      td {
        padding: theme.$table-row-padding;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        text-transform: capitalize;
        color: theme.$grey;
      }
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: theme.$body-padding;
  font-size: theme.$font-size-smaller;
  font-weight: theme.$font-weight-bold;
}

.button {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  color: grey;
}
