@use "../../../styles/variables/theme" as theme;

.inputField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input {
        border-radius: 5rem;
        padding: 0.5rem 0.75rem;
        height: fit-content;
        width: clamp(10rem, 6.429rem + 9.524vw, 15rem);
        border: none;
        outline: none;
        box-shadow: theme.$box-shadow;
        background-color: theme.$white-color-lighter;
        color: theme.$secondary-color-dark;

    }

    span {
        font-size: theme.$font-size-small;
        color: theme.$accent-color-dark;
    }
}
