@use '../../styles/variables/theme' as theme;


.expenses-container {
  padding:            theme.$body-padding;
  display:            flex;
  flex-direction:     column;
  flex-wrap:          wrap;
  width:              100%;
  gap:                1rem;

  .cards-container {
    display:            flex;
    justify-content:    space-around;
    align-items:        center;
    width:              100%;
    height:             50vh;
    gap:                5rem;
  
    .balance-cards-container {
      display:            flex;
      flex-direction:     column;
      width:              30%;
      gap:                2rem;
  
      .balance-div {
        font-weight:        theme.$font-weight-bold;
        font-size:          theme.$font-size-large;
        line-height:        theme.$line-height;
        color:              theme.$grey;
        display:            flex;
        justify-content:    center;
        align-items:        center;
        width:              100%;
      }
    }
  
    .chart-container {
      width:              80%;
      height:             100%;
      flex-grow:          1;
  
      .balance-overview-chart-container {
        font-size:        theme.$font-size-small;
        padding:          theme.$body-padding;
      }
    }
  }

  .expense-button {
    align-self:       flex-end;
  }

  .expense-table {
    width:            100%;

    .edit-icon {
      color:              theme.$accent-color-light;
      padding:            0 3px;
    }
    
    .delete-icon {
      color:              theme.$accent-color-dark;
      padding:            0 3px;
    }
  }
}

.logout-icon {
  cursor:             pointer;
  color:              theme.$accent-color-dark;
}

.confirm-delete-container {
  padding:            theme.$body-padding;
  display:            flex;
  flex-direction:     column;
  justify-content:    center;
  align-items:        center;
  gap:                1rem;
  width:              100%;
}

.confirm-delete-title {
  color:              theme.$accent-color-dark;
  font-size:          theme.$font-size-small;
  font-weight:        theme.$font-weight-bold;
  text-transform:     capitalize;
}

.confirm-delete-item {
  display:            flex;
  flex-direction:     column;
  background-color:   theme.$white-color-lighter;
  line-height:        theme.$line-height;
  font-size:          theme.$font-size-small;
  border-radius:      theme.$border-radius;
  padding:            theme.$body-padding;
  width:              100%;
}

.item-container {
  display:            flex;
}

.item-title {
  width:              50%;
  font-weight:        theme.$font-weight-bold;
}

.item-desc {
  text-transform:     capitalize;
}

@media (max-width: 768px){
  .expenses-container {
      flex-direction:   column;
      justify-content:  center;
      align-items:      center;

      button {
        align-self:     center;
      }

      .cards-container {
        flex-direction:     column;
        align-items:        center;
        width:              100%;
        height:             100%;
        min-width:          100vw;

        .balance-cards-container, .chart-container {
          width:             100%;
          min-width:         100%;
          height:            100%;
        }
      }
  }

  .confirm-delete-container {
    width:             100%;
  }

}