@use '../../styles/variables/theme' as theme;

.client-dashboard {
  .expenses-container {
    .header-container {
      padding-top: calc(theme.$body-padding *2);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .cards-container {
      display:            flex;
      justify-content:    center;
      align-items:        center;
      width:              100%;
      gap:                3rem;
    
      .balance-cards-container {
        display:            flex;
        flex-direction:     column;
        width:              30%;
        gap:                2rem;
    
        .balance-div {
          font-weight:        theme.$font-weight-bold;
          font-size:          clamp(1rem, 0.286rem + 1.905vw, 2rem);
          line-height:        theme.$line-height;
          display:            flex;
          justify-content:    center;
          align-items:        center;
          width:              100%;
          height:             100%;
        }
      }
    
      .chart-container {
        width:                50%;
        height:               fit-content;
    
        .balance-overview-chart-container {
          font-size:        theme.$font-size-small;
          padding:          theme.$body-padding;
        }
      }
    }
    
    .buttons-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;
    }
  
    
  }
}

.edit-icon {
  color:              theme.$accent-color-light;
  cursor:             pointer;
}

.delete-icon {
  color:              theme.$accent-color-dark;
  cursor:             pointer;
}

.logout-icon {
  cursor:             pointer;
  color:              theme.$accent-color-dark;
}

.confirm-delete-container {
  padding:            theme.$body-padding;
  display:            flex;
  flex-direction:     column;
  justify-content:    center;
  align-items:        center;
  gap:                1rem;
  width:              100%;
}

.confirm-delete-title {
  color:              theme.$accent-color-dark;
  font-size:          theme.$font-size-small;
  font-weight:        theme.$font-weight-bold;
  text-transform:     capitalize;
}

.confirm-delete-item {
  display:            flex;
  flex-direction:     column;
  background-color:   theme.$white-color-lighter;
  line-height:        theme.$line-height;
  font-size:          theme.$font-size-small;
  border-radius:      theme.$border-radius;
  padding:            theme.$body-padding;
  width:              100%;
}

.item-container {
  display:            flex;
}

.item-title {
  width:              50%;
  font-weight:        theme.$font-weight-bold;
}

.item-desc {
  text-transform:     capitalize;
}

@media (max-width: 768px){
  .client-dashboard {
    .expenses-container {
      .cards-container {
        flex-direction:     column;
        align-items:        center;
        max-width:          80vw;
        height:             100%;

        .balance-cards-container, .chart-container {
          width:             100%;
          min-width:         100%;
          height:            100%;
        }
      }

      .new-expense-btn {
        align-self:        center;
      }
  }
  }

  .confirm-delete-container {
    width:             100%;
  }

}