@use '/src/styles/variables/theme' as theme;

.balance-overview-chart-container {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.expenses-container {
  display:            flex;
  flex-direction:     column;
  flex-wrap:          wrap;
  width:              100%;
  padding:            theme.$body-padding;
  gap:                1rem;

  button {
      align-self:     flex-end;
  }
}

.card-container {
  display:            flex;
  justify-content:    center;
  align-items:        center;
  width:              100%;
  gap:                1rem;
}

.buttons-container {
  display:            flex;
  justify-content:    flex-end;
  align-items:        center;
  gap:                1rem;
  padding:            theme.$body-padding;
}

.edit-icon {
  color:              theme.$accent-color-light;
  padding:            0 3px;
}

.delete-icon {
  color:              theme.$accent-color-dark;
  padding:            0 3px;
}

.confirm-delete-container {
  padding:            theme.$body-padding;
  display:            flex;
  flex-direction:     column;
  justify-content:    center;
  align-items:        center;
  gap:                1rem;
  width:              50%;
}

.confirm-delete-title {
  color:              theme.$accent-color-dark;
  font-size:          theme.$font-size-medium;
  font-weight:        theme.$font-weight-bold;
  text-transform:     capitalize;
}

.confirm-delete-item {
  display:            flex;
  flex-direction:     column;
  background-color:   theme.$white-color-lighter;
  line-height:        theme.$line-height;
  font-size:          theme.$font-size-small;
  border:             theme.$border-solid;
  border-radius:      theme.$border-radius;
  padding:            theme.$body-padding;
  width:              100%;
}

.item-container {
  display:            flex;
}

.item-title {
  width:              50%;
  font-weight:        theme.$font-weight-bold;
}

.item-desc {
  text-transform:     capitalize;
}

@media (max-width: 768px){
  .expenses-container, .card-container {
      flex-direction:   column;
      justify-content:  center;
      align-items:      center;
  }

  .expenses-container button {
      align-self:       center;
  }

  .confirm-delete-container {
      width:             100%;
  }

}