@use "../../../styles/variables/theme" as theme;

button {
    position: relative;
    border-radius: 5rem;
    padding: 0.5rem 0.5rem;
    height: fit-content;
    width: fit-content;
    min-width: 7.5rem;
    border: none;
    outline: none;
    box-shadow: theme.$box-shadow;
    color: theme.$white-color-light;
    background-color: theme.$primary-color;
    overflow: hidden;
    cursor: pointer;
}

button:hover{
    filter: brightness(80%);
}

button:active{
    transform: translate(0.1rem, 0.15rem);
    transition: all 0.2s ease-in-out;
}

.secondary{
    background-color: theme.$white-color-lighter;
    color: theme.$primary-color;
}