@use "../../styles/variables/theme" as theme;

.admin-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  font: theme.$font-family;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar {
    min-height: 100vh;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    filter: blur(100%);
    border-radius: 0 0 2rem;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.2);

    .nav-list {
      display: flex;
      align-items: start;
      justify-content: flex-start;
      padding: theme.$body-padding;
    }

    .sidebar-control {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      padding: theme.$body-padding;
    }
  }

  .dashboard,
  .transactions {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    padding: theme.$body-padding;
    overflow: hidden;

    .table-header {
      font-family: inherit;
      font-weight: 700;
      color: theme.$primary-color;
    }

    .cards-container {
      display: flex;
      gap: 1rem;
      min-height: 10rem;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .card {
        height: 10rem;
        width: 33%;
        min-width: 10rem;
        background-color: transparent;
        box-shadow: -2px -2px 5px -1px white, 0px 0px 5px -2px rgba(0, 0, 0, 1);

        .card-body {
          font-size: theme.$font-size-large;
          font-weight: theme.$font-weight-bold;
        }
      }
    }

    .search-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-width: 7.5rem;
      margin-bottom: 1rem;
      gap: 1rem;

      .inputField {
        height: fit-content;
        width: 100%;
        min-width: 7.5rem;
        padding: 0;
      }
    }
  }

  .transactions {
    .table-container {
      max-height: 85vh;
      font-size: theme.$font-size-small;
      line-height: 1rem;
    }
  }

  .dashboard {
    .table-container {
      max-height: 50vh;
      font-size: theme.$font-size-small;
      line-height: 1rem;
    }
  }

  @media (max-width: 768px) {
    .sidebar {
      background-color: theme.$secondary-color-light;
      width: 100vw;
      left: -900px;

      li {
        min-width: 15rem;
      }

      &.open {
        left: 0;
      }
    }
    .dashboard,
    .transactions {
      gap: 1rem;

      .header-container,
      .cards-container,
      .search-container {
        flex-direction: column;

        button {
          width: 100%;
        }

        .card {
          width: 100%;
        }

        .buttons-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}
