
$card-box-shadow:               0 0.25rem 0.375rem -0.0625rem rgba(0,0,0,0.1),
                                0 0.125rem 0.25rem -0.0625rem rgba(0,0,0,0.06);

$card-background-blur:          rgba(255, 255, 255, 0.8);

$card-header-padding:           0.9375rem;

$card-body-padding:             $card-header-padding;
$card-plain-bg-color:           transparent;
$card-plain-box-shadow:         none;

$card-footer-padding:           $card-body-padding;

$card-title-font-weight:        $font-weight-bold;
$card-title-line-height:        1.2;

$card-display:                  flex;
$card-name-line-height:         1.571rem;
$card-name-color:               #3A416F;
$card-stats-color:              #5D6494;

$card-badge-text-transform:     uppercase;
$card-badge-bg-color:           #FAFAFF;

// Card Background
$card-bg-align-items:           center;
$card-bg-body-position:         relative;
$card-bg-body-z-index:          2;
$card-bg-content-min-height:    20.625rem;
$card-bg-content-max-width:     28.125rem;
$card-bg-content-pt:            3.75rem;
$card-bg-content-pb:            $card-bg-content-pt;
$card-bg-body-left-width:       5.625rem;

$card-bg-description-margin:    1.5rem;

$card-bg-filter-position:       absolute;
$card-bg-filter-top:            0;
$card-bg-filter-bottom:         $card-bg-filter-top;
$card-bg-filter-left:           $card-bg-filter-top;
$card-bg-filter-height:         6.25rem;
$card-bg-filter-width:          $card-bg-filter-height;
$card-bg-filter-z-index:        1;
$card-bg-filter-display:        block;
$card-bg-filter-content:        "";
$card-bg-filter-bg:             rgba(0,0,0,0.56);
$card-bg-filter-mask-bg:        rgba(0,0,0,0.2);
$card-bg-filter-radius:         1rem;

$card-full-bg-bg-position:      50%;
$card-full-bg-bg-size:          cover;
$card-full-bg-mb:               1.875rem;
$card-full-bg-width:            100%;
$card-full-bg-height:           $card-full-bg-width;
$card-full-bg-position:         absolute;
$card-full-bg-radius:           $card-bg-filter-radius;