$page-header-padding:             0;
$page-header-position:            relative;
$page-header-overflow:            hidden;
$page-header-display:             flex;
$page-header-align-items:         center;
$page-header-bg-size:             cover;
$page-header-bg-position:         50%;