
@use '../../../styles/variables/theme' as theme;

.card {
    box-shadow:         theme.$box-shadow;
    background-color:   theme.$white-color-lighter;
    color:              theme.$secondary-color-dark;
    display:            flex;
    flex-direction:     column;
    align-items:        flex-start;
    position:           relative;
    min-width:          20vw;
    border-radius:      theme.$border-radius;
    font-family:        theme.$font-family;
}

.card-header {
    padding:            theme.$header-padding;
    font-weight:        theme.$font-weight-bold;
    line-height:        theme.$line-height;
    text-align: left;
}

.card-body {
    padding:            theme.$body-padding;
    min-height:         10rem;
}

.card-footer {
    padding:            theme.$footer-padding;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        min-width: 100%;
    }
}