
@use '../../../styles/variables/theme' as theme;

.card {
    box-shadow:         theme.$box-shadow;
    background-color:   rgba(255, 255, 255, 0.8);
    display:            flex;
    align-items:        center;
    position:           relative;
    z-index:            2;
}

.card-header {
    padding:            theme.$header-padding;
    font-weight:        theme.$font-weight-bold;
    line-height:        theme.$line-height;
}

.card-body {
    padding:            theme.$body-padding;
    background-color:   transparent;
    box-shadow:         none;
    min-height:         20.625rem;
    max-width:          28.125rem;
}

.card-footer {
    padding:            theme.$footer-padding;
}