*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  --webkit-appearance: none;
  border-radius: 0;
}

.sidebar {
  position: relative;
  background-color: #e7e7da;
  min-width: 25vmin;
  min-height: 100vh;
  height: auto;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  z-index: 3;
  transition: left 0.3s;
  color: #666666;
}
.sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 20%;
}

.logo {
  width: 10rem;
  height: auto;
}

.nav-list {
  padding: 3rem;
  height: 70%;
  line-height: 1.5;
  font-weight: 600;
  font-size: 1rem;
}
.nav-list ul li {
  padding-top: 1rem;
  cursor: pointer;
}
.nav-list ul li a {
  color: #666666;
  text-decoration: none;
}

.active,
li a:hover {
  border-left: 5px solid #5b82a3;
  color: #bf8043;
}

.nav-icon,
.toggle-icon {
  height: 1rem;
}

.toggle-icon {
  cursor: pointer;
}

.sidebar-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 10%;
}

.mobile-menu {
  display: none;
  z-index: 4;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -30rem;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
.card {
  font-family: "Lato", sans-serif;
  background-color: #e7e7da;
  color: #1d1b21;
  border-radius: 0.3rem;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 20vw;
}

.card-header {
  color: #a03e46;
  padding: 1rem;
  font-weight: 700;
  line-height: 1.5;
  border-radius: 0.3rem;
  text-align: left;
}

.card-body {
  line-height: 1.5;
  padding: 1rem;
  width: 100%;
  height: auto;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
  }
}
.page-header {
  background-size: cover;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 1rem;
  color: #1d1b21;
}

.table-container {
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  border-radius: 0.3rem;
  font-family: "Lato", sans-serif;
}
.table-container thead tr {
  border-bottom: 2px solid #f3f3f3;
  background-color: #fefefe;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.875rem;
  cursor: pointer;
}
.table-container thead tr:hover {
  color: #f3f3f3;
}
.table-container thead tr th {
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #f3f3f3;
  color: #5b82a3;
  text-align: start;
}
.table-container tbody tr {
  border: 1px solid #e7e7da;
}
.table-container tbody tr:hover {
  background-color: transparent;
  filter: brightness(80%);
}
.table-container tbody tr td {
  padding: 0.5rem;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  text-transform: capitalize;
  color: #666666;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 1rem;
  font-size: 0.6rem;
  font-weight: 700;
}

.button {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  color: grey;
}

button {
  position: relative;
  border-radius: 5rem;
  padding: 0.5rem 0.5rem;
  height: fit-content;
  width: fit-content;
  min-width: 7.5rem;
  border: none;
  outline: none;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  color: #fefefe;
  background-color: #5b82a3;
  overflow: hidden;
  cursor: pointer;
}

button:hover {
  filter: brightness(80%);
}

button:active {
  transform: translate(0.1rem, 0.15rem);
  transition: all 0.2s ease-in-out;
}

.secondary {
  background-color: #f3f3f3;
  color: #5b82a3;
}

.inputField {
  font-size: 0.875rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputField input {
  background-color: #f3f3f3;
  color: #1d1b21;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  padding: 0.5rem 0.75rem;
  height: fit-content;
  border-radius: 5rem;
  width: 100%;
  min-width: 5rem;
  border: none;
  outline: none;
}
.inputField span {
  color: #a03e46;
}

.input-label {
  font-weight: 600;
  color: #666666;
}

.error {
  font-size: 0.6rem;
  color: #fefefe;
  background-color: #f7a4a4;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.select-input {
  font-size: 0.875rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.select-input select {
  background-color: #f3f3f3;
  color: #1d1b21;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  padding: 0.5rem 0.75rem;
  height: fit-content;
  border-radius: 5rem;
  width: 100%;
  min-width: 5rem;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
}
.select-input option {
  cursor: pointer;
}
.select-input option:checked {
  background-color: #5b82a3;
  color: #e7e7da;
}
.select-input option:hover {
  background-color: red;
  filter: brightness(80%);
}

.input-label {
  font-weight: 600;
  color: #666666;
}

.toast-container {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 50%;
  transform: translateX(50%, -200%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
  width: 80%;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  background-color: #f3f3f3;
  color: #1d1b21;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  animation: slideIn 5s cubic-bezier(0.7, 0.06, 0.6, 1.52);
}
.toast-container .text-wrapper {
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;
}
.toast-container .toast-progress {
  height: 0.5rem;
  background-color: #f7a4a4;
}

.success .toast-progress {
  background-color: #b3e283;
}

@keyframes slideIn {
  0% {
    transform: translateY(-200%);
  }
  25% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-200%);
  }
}
@media screen and (min-width: 768px) {
  .toast-container {
    right: 1rem;
    transform: translateX(0%);
    width: fit-content;
  }
}
.modal {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal-container {
  font-family: "Lato", sans-serif;
  background-color: #fefefe;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vw;
  height: auto;
  z-index: 20;
}

.modal-header {
  background-color: #5b82a3;
  color: #fefefe;
  font-size: 0.875rem;
  padding: 1rem;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 30;
}

.modal-children {
  width: 100%;
  padding: 2rem;
  z-index: 40;
}

.modal-close {
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal-container {
    width: 100vw;
  }
}
.expenses-container .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expenses-container .cards-container .balance-cards-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2rem;
}
.expenses-container .cards-container .balance-cards-container .balance-div {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.expenses-container .cards-container .chart-container {
  width: 60%;
  height: 100%;
}
.expenses-container .cards-container .chart-container .balance-overview-chart-container {
  font-size: 0.875rem;
  padding: 1rem;
}
.expenses-container .new-expense-btn {
  align-self: flex-end;
}

.edit-icon {
  color: #bf8043;
  cursor: pointer;
}

.delete-icon {
  color: #a03e46;
  cursor: pointer;
}

.logout-icon {
  cursor: pointer;
  color: #a03e46;
}

.buttons-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-delete-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.confirm-delete-title {
  color: #a03e46;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
}

.confirm-delete-item {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  line-height: 1.5;
  font-size: 0.875rem;
  border-radius: 0.3rem;
  padding: 1rem;
  width: 100%;
}

.item-container {
  display: flex;
}

.item-title {
  width: 50%;
  font-weight: 700;
}

.item-desc {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .expenses-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .expenses-container .cards-container .balance-cards-container, .expenses-container .cards-container .chart-container {
    width: 100%;
    min-width: 100%;
    height: 100%;
  }
  .expenses-container .new-expense-btn {
    align-self: center;
  }
  .confirm-delete-container {
    width: 100%;
  }
}
.admin-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  font: "Lato", sans-serif;
}
.admin-layout .sidebar {
  height: 100%;
  width: fit-content;
  min-width: 35vmin;
  background-color: transparent;
  filter: blur(100%);
  border-radius: 0 0 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.admin-layout .dashboard,
.admin-layout .transactions {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.admin-layout .dashboard .cards-container,
.admin-layout .transactions .cards-container {
  display: flex;
  min-height: 10rem;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.admin-layout .dashboard .cards-container .card,
.admin-layout .transactions .cards-container .card {
  height: 10rem;
  width: 33%;
  min-width: 10rem;
  background-color: transparent;
  box-shadow: -2px -2px 5px -1px white, 0px 0px 5px -2px rgb(0, 0, 0);
}
.admin-layout .dashboard .cards-container .card .card-body,
.admin-layout .transactions .cards-container .card .card-body {
  font-size: 1.5rem;
  font-weight: 700;
}
.admin-layout .dashboard .search-container,
.admin-layout .transactions .search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 7.5rem;
}
.admin-layout .dashboard .search-container .inputField,
.admin-layout .transactions .search-container .inputField {
  height: 100%;
  width: 100%;
  min-width: 7.5rem;
  padding: 0;
}
@media (max-width: 768px) {
  .admin-layout .sidebar {
    width: 50%;
    background-color: #e7e7da;
  }
  .admin-layout .dashboard .header-container,
  .admin-layout .dashboard .cards-container,
  .admin-layout .dashboard .search-container,
  .admin-layout .transactions .header-container,
  .admin-layout .transactions .cards-container,
  .admin-layout .transactions .search-container {
    flex-direction: column;
  }
  .admin-layout .dashboard .header-container button,
  .admin-layout .dashboard .cards-container button,
  .admin-layout .dashboard .search-container button,
  .admin-layout .transactions .header-container button,
  .admin-layout .transactions .cards-container button,
  .admin-layout .transactions .search-container button {
    width: 100%;
  }
  .admin-layout .dashboard .header-container .card,
  .admin-layout .dashboard .cards-container .card,
  .admin-layout .dashboard .search-container .card,
  .admin-layout .transactions .header-container .card,
  .admin-layout .transactions .cards-container .card,
  .admin-layout .transactions .search-container .card {
    width: 100%;
  }
  .admin-layout .dashboard .header-container .buttons-container,
  .admin-layout .dashboard .cards-container .buttons-container,
  .admin-layout .dashboard .search-container .buttons-container,
  .admin-layout .transactions .header-container .buttons-container,
  .admin-layout .transactions .cards-container .buttons-container,
  .admin-layout .transactions .search-container .buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

.login-page {
  background-color: #EDF3EF;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}
.login-page .home-img {
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  flex-grow: 1;
}
.login-page .home-logo {
  padding: 1rem;
  width: 30%;
  height: auto;
}
.login-page .login-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  height: auto;
  gap: 3rem;
}
.login-page .login-form {
  background-color: #fefefe;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  padding: 2rem;
  border-radius: 0.5rem;
}
.login-page .login-page-footer {
  font-size: 0.6rem;
  color: #666666;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 90%;
}

.title-container {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.title-container .form-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #bf8043;
}
.title-container .sign-up-logo {
  width: 10%;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.sign-up-link a {
  font-size: 0.6rem;
  color: #bf8043;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-page {
    justify-content: center;
  }
  .login-page .login-container {
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .home-logo {
    width: 100%;
  }
  .home-img {
    display: none;
  }
  .buttons-container {
    flex-direction: column;
  }
  .title-container {
    flex-direction: column-reverse;
  }
}
.client-dashboard {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

@media (max-width: 768px) {
  .client-dashboard .expenses-container {
    max-width: 100vw;
  }
}
.account-container .account-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.account-container .account-card .account-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.account-container .account-card .account-info .account-number {
  font-size: 1rem;
  font-weight: 700;
}
.account-container .account-card .account-info .account-name {
  font-size: 0.875rem;
  color: #666666;
}
.account-container .account-card .balance-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.account-container .account-card .balance-container .balance-amount {
  font-size: 1.5rem;
  font-weight: 700;
}
.account-container .account-card .balance-container .balance-label {
  font-size: 0.6rem;
  color: #666666;
}
.account-container .account-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.account-container .account-buttons-container div {
  color: #a03e46;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  cursor: pointer;
}
.account-container .account-buttons-container div h1 {
  color: #1d1b21;
  font-size: 0.875rem;
}
.account-container .account-buttons-container div:hover {
  color: #bf8043;
}

@media (max-width: 768px) {
  .client-dashboard .account-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .client-dashboard .account-container .account-buttons-container {
    flex-direction: row;
  }
}
body {
  font-family: "Lato", sans-serif;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
